.home-main {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  /* background: #d7edf7; */
  /* background: linear-gradient(
    180deg,
    var(--token-394b655e-eb71-48d0-ad1f-647e45a4f590, #f5f7ff) 0%,
    var(--token-394b655e-eb71-48d0-ad1f-647e45a4f590, rgb(255, 255, 255)) 100%
  ); */
  background: linear-gradient(180deg, #f5f7ff 0%, #ffffff 100%);
  background-size: cover;
  background-position: center; /* Center the background horizontally */
  background-attachment: fixed; /* Makes it seamless while scrolling */
  transition: background 0.5s ease-in-out; /* Smooth transition effect */
  padding: 90px 30px 20px 30px;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  /* background: #fcebef; */
  background: radial-gradient(
    53% 80.08000000000001% at 50% 69.5%,
    var(--token-a37e6c3e-a10c-437b-b258-07d1d49555da, #fcebef) 0%,
    rgba(252, 252, 255, 0) 100%
  );
  border-radius: 40px;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 80%;
  width: 80%;
  gap: 20px;
}

.intro-box {
  display: flex;
  border: 0.5px solid white;
  padding: 6px 20px;
  border-radius: 32px;
  font-size: 16px;
  background: linear-gradient(
    125deg,
    rgba(255, 255, 255, 0.6) 0%,
    var(--token-7271da1b-9f0a-41bd-91b9-d7098d8944de, rgb(244, 237, 255)) 100%
  );
  backdrop-filter: blur(7px);
}

.tagline {
  display: flex;
  text-align: center;
  font-size: 35px;
}

.home-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-btn-1 {
  padding: 15px 32px;
  border-radius: 25px;
  font-size: 16px;
  background-color: #140533;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.home-btn-2 {
  padding: 15px 32px;
  border-radius: 25px;
  font-size: 16px;
  color: #140533;
  background-color: #fcebef;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) and (min-width: 451px) {
  .tagline {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  .tagline {
    font-size: 20px;
  }
  .home-buttons{
    flex-direction: column;
    gap: 10px;
  }
}

/* Add fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Initial state */
.content-box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Animation class */
.fade-in {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 0.8s ease forwards;
}
