@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wix Madefor Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* background: #c7ebfb; */
  color: #0f0f0f;
}

a {
  text-decoration: none;
}
